@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(var(--bounce-up-end, 0%));
    opacity: 1;
  }
}

.animate-bounce-up {
  animation: bounce-up 1s ease-out;
}

.vignette {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.295) 40%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 10; /* Ensure it overlays the images */
}
